.lmj-plant-item-cover {
	height: auto; 
	width: auto; 
	border-radius: 8px 8px 0px 0px;
    width: 200px;


}

.lmj-plant-item {
    border: solid 2px black;
	border-radius: 8px;
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
    object-fit: cover;

}